<link rel="stylesheet" href="/stylesheets/style.css" />

<section class="about-section">
  <div class="about-container">
    <h1 class="about-title">About Me</h1>
    <div class="about-content">
      <div class="about-image">
        <img src="/images/WhatsApp Image 2024-10-20 at 04.54.24_6f6062a5.jpg" alt="Profile Picture" />
      </div>
      <div class="about-text">
        <p>
          Hi, I'm <strong>Armanjot Singh mALIK</strong>, am a dedicated Computer Programmer currently pursuing my studies at Georgian College, where I have cultivated a strong foundation in both web development and software engineering. My passion for technology drives me to explore a variety of programming languages, allowing me to tackle diverse challenges and innovate solutions.
        </p>
        <p>
          hroughout my academic journey, I have honed my skills in database management, particularly in Python, while also gaining hands-on experience with front-end and back-end development technologies. I thrive on collaborating with others to bring ideas to life, and I believe that effective teamwork is essential for creating impactful software
          </p>
        <p>
        s I look toward the future, I am eager to leverage my knowledge and creativity to contribute to groundbreaking projects in the tech industry. I am committed to continuous learning and professional growth, and I welcome opportunities to connect and collaborate with like-minded individuals who share my vision of using technology to make a difference.
        </p>
      </div>
    </div>
  </div>
</section>
