    <link rel="stylesheet" href="css/bootstrap.min.css" >
<section style="background-color: #a4a682" >
    <div class="banner">
        
      <div>
        <h1 style="color: #291212; padding-top: 200px; padding-left:250px;">
        Armanjot Singh Malik
      </h1>  
      <p style="font-size:large; color: #291212; padding-left:250px;"> 
          Web Developer  
       </p> 
      </div>
<img src="/images/WhatsApp Image 2024-10-19 at 01.40.55_778f2e55.jpg" style="max-width: 20%; height: auto; display: block; margin: 0 auto;">
     </div>
                 
</section>

