<body style="background-color: #c9cba3">
    <h1 style="text-align:center;">Projects</h1>
    <div class="container">
    <div class="row">
        <div class="project">
            <a href="https://github.com/Arman-8510/Python">
              <img id="img-1" src="/images/Screenshot 2024-10-20 041337.png" class="prj">
            </a>
            <p style="font-size: 30px; color: rgb(97, 140, 219);">Task Manager App</p>
            <br>
            <a href="https://github.com/Sanskar07parihar/InventoryManagement">
              <img id="img-2" src="/images/Screenshot 2024-10-20 042310.png" class="prj">
            </a>
            <p style="font-size: 30px; color: rgb(97, 140, 219);" >Inditag Website</p>
        </div>
    </div>
   
    </div>
  </div>  
</body>