<section class="home">
  <div class="avatar-box">
    <img src="images/figurine-man-with-laptop-front-him_1197721-73129.jpg" alt="Profile picture of Armanjot" class="avatar">
  </div>
  
  <div class="social-icons">
    <a href="https://www.instagram.com/arman"><i class="bx bxl-instagram"></i></a>
    <a href="https://www.facebook.com/arman"><i class="bx bxl-facebook-circle"></i></a>
    <a href="https://www.linkedin.com/in/arman"><i class="bx bxl-linkedin"></i></a>
  </div>
  
  <div class="home-content">
    <div class="btn-box">
      <a href="mailto:arman@example.com" class="btn">E-mail</a>
      <a href="#" class="btn">Hire Me</a>
    </div>

    <h1>Hi, I'm Armanjot</h1>
    <h3>Computer Programming Student</h3>
    <p>
      Hey! I'm a Bachelor of Mathematics graduate and currently studying Computer Programming at Georgian College.
      I merge math and coding to create innovative solutions. Excited to connect and collaborate on meaningful projects.
    </p>
  </div>
</section>
